.navbar {
  display: flex;
  justify-content: center;
  color: red;
}

.navbar a {
  display: inline-block;
  margin: 1ch;
  padding: 1% 3%;
  background-color: aquamarine;

  /* border: 1px solid red; */
  border-radius: 10px;
  text-decoration: none;
}
.navbar a :hover {
  cursor: pointer;
}

.navbar_select {
  border: none;
  outline: none;
  background-color: inherit;
}

.navbar button {
  width: auto;
  display: inline;
  padding: 1% 3%;
  margin: 1ch;
  background-color: rgb(231, 152, 121);
  border-radius: 10px;
  color: #fff;
}

.navbar_Search_Input {
  background-color: aquamarine;
  border: none;
  outline: none;
  padding: 1% 3%;
  margin: 1ch;
  border-radius: 10px;
}
