body {
  background-color: rgb(5, 66, 44);
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

button {
  border-radius: 10px;
  border: none;
  outline: none;
  margin: 10px;
}
