.BlogProfile {
  padding-bottom: 1%;
  background-color: rgb(56, 155, 122);
  margin: 10px 0px;
  border-radius: 10px;
}
h2 {
  margin-left: 5%;
}

.blogTitleDiv {
  display: flex;
  justify-content: space-between;
  margin: 0% 5%;
}

.blogProfileHeaderDiv {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px;
  color: #fff;
}

.BlogProfileImgDiv img {
  width: 90%;
  margin: 0% 5%;
  height: auto;
}

.BlogProfileDescription {
  width: 88%;
  margin: 1% 5% 2% 5%;
  height: auto;
  background-color: rgb(5, 66, 44);
  color: #fff;
  border-radius: 10px;
  padding: 1%;
  overflow: scroll;
}

.blogProfile_Title_Button_Div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0% 5%;
  height: auto;
}

.blogProfile_Button_Div {
  width: 20%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.blogProfile_Button_Div button {
  width: 30%;
  height: 30px;
  padding: 0% !important;
  margin: 0% !important;
  color: rgb(65, 42, 87);
  background-color: inherit;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 25px;
}

.BlogProfileFooter {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 10px 50px;
}

.BlogProfileFooter a {
  color: #fff;
  text-decoration: none;
}

.BlogProfile_Footer__Span {
  display: flex;
  text-align: center;

  color: #fff;
}

.BlogProfile_Footer__Span :nth-child(1) {
  margin-right: 5px;
  font-size: 20px;
}

.BlogProfileFooterButton {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 20px 50px;
  font-size: 20px;
}

.BlogProfileFooterButton button {
  background-color: inherit !important;
  border: 1px solid aquamarine;
  color: #fff;
  padding: 1% 5%; 
  cursor: pointer;
}

.likeButton :nth-child(1) {
  color: rgba(10, 10, 235, 0.979);
}

@media only screen and (max-width: 768px) {
  .blogProfileHeaderDiv {
    margin: 0;
    padding: 0px 5px;
    font-size: 15px;
    word-break: break-all;
  }
  .blogProfile_Header__Title {
    margin-left: 10px;
  }
}
