.blogPage{
    /* text-align:center; */
    margin: 2% 10%
    
}

.blogPage header{
    margin-bottom: 2%;
    background-color:aquamarine;
    border-radius: 10px;
    padding: 1% 0%;
    font-size: 30px;
    text-align: center;
    font-style: italic;
}

.blogPageInputDiv input
{
    width: 97.8%;
    padding :1%;
    border: none;
    background-color: aquamarine;
    border-radius: 10px;
    margin: 15px 0px;    
    font-size: 16px;
}
.blogPageImageDiv{
   display: flex;
   justify-content: space-between;
}

.blogPageImageDiv input{
    width: 60%;
    padding :1%;
    border: none;
    background-color: aquamarine;
    border-radius: 10px;
    margin: 15px 0px;    
    font-size: 16px;
}


.blogPageImageDiv button{
    width: 35%;
    padding :1%;
    border: none;
    background-color: aquamarine;
    border-radius: 10px;
    margin: 15px 0px;    
    font-size: 16px;
}
.blogPageInputDiv input:focus{
    outline: none;
}

.blogPageInputDiv label{
    color: #fff;
    
}
.descriptionDiv label{
    color: #fff;
    
}

.BlogPagebuttonDiv{
    margin-top: 20px;
    display: flex;
    justify-content:space-around;
}
.BlogPagebuttonDiv button{
    width: 48%;
    padding :1%;
    border: none;
    background-color: aquamarine;
    border-radius: 10px;
}

button {
    cursor: pointer;
    padding: 3% 8%;
    background-color: aquamarine;
}

.blogPage_NotLoggedInDiv{
    text-align: center;
}

.BlogPagebuttonDiv :nth-child(2)
{
    background-color: rgb(241, 90, 90);
    color: #fff;
}